  <%= form_for :country_group, html: { id: "country_group_form" } do |f| %>
    <%= f.collection_select :country_group_type_id, CountryGroupType.order(:name),:id,:name, include_blank: true %>
    <%= f.text_field :name %>
    <%= f.check_box :active %>
    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </div>
  <% end %>
