<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': false %>

  </head>

  <body class="app">
    <div>
      <%= render 'shared/admin/sidebar'%>
      <div class="page-container">
        <%= render 'shared/admin/header'%>
        <main class='main-content bgc-grey-100'>
          <div id='mainContent'>
            <%= yield %>
          </div>
        </main>
        <%= render 'shared/admin/footer'%>
      </div>
    </div>
  </body>
</html>
